<!-- <p>create-content works!</p>
<div>
    ID: <input [(ngModel)]="tempId">
</div>
<div>
    Title: <input [(ngModel)]="newContent.title">
</div>

<div>
    Image: <input [(ngModel)]="newContent.imgURL">
</div>
<div>
    description: <input [(ngModel)]="newContent.description">
</div>
<div>
    Type: <input [(ngModel)]="newContent.type">
</div>
<div>
    Creator: <input [(ngModel)]="newContent.creator">
</div>
<div>
    Tags: <input [(ngModel)]="tempTags">
</div>
<div>
    <button (click)="addContentFromChild()">Add Food Item</button>
</div>
<div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
</div> -->
