:host {
  border: 1px solid #0000ff;
  display: block;
  margin: 16px auto;
  padding: 8px;
  width: 500px;
  text-align: center;
}
:host.first-tvshow {
  border: 6px solid #000;
}
:host.notype {
  background-color: darksalmon;
}
:host.drama {
  background-color: dodgerblue;
}
:host.thriller {
  background-color: chartreuse;
}
:host.action {
  background-color: grey;
}
:host.found {
  border-color: green;
  border-width: 5px;
}
:host.single-item-on-app-component {
  box-shadow: 5px 10px #88888899;
}
.image {
  width: 300px;
}
.tag {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #ff0000;
  background-color: aqua;
  margin: 8px;
  padding: 8px;
}