<p>content-card works!</p>
<span [innerHTML]="myList.getHtml(0)"></span>
<span [innerHTML]="myList.getHtml(1)"></span>
<span [innerHTML]="myList.getHtml(2)"></span>
<span [innerHTML]="myList.getHtml(3)"></span>

<h3 class="title">
    {{ tvshow?.title }}
</h3>
<img (click)="imageClicked()" *ngIf="tvshow?.imgURL" class="image" [src]="tvshow?.imgURL">
<p>
    {{ tvshow?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ tvshow?.creator}}
    </div>
    <div *ngIf="tvshow?.type" class="tvshow?.type">
        {{ tvshow?.type }}
    </div>
    <div class="tags" *ngIf="tvshow?.tags">
        <span class="tag" *ngFor="let tag of tvshow?.tags">
            #{{ tag }}
        </span>
    </div>
</div>
<div *ngIf="tvshow">
    <div class="type">{{ tvshow | defaultType }}</div>
    <div appHoverAffect type='drama' class="body">{{ this.myList.body }}</div>
    <div><img [src]="this.myList ? this.myList.imageUrl : ''"></div>
    <div [ngSwitch]='this.myList.type'>
        <span *ngSwitchCase='"drama"'>One Tree hill</span>
        <span *ngSwitchCase='"thriller"'>who killed sara</span>
        <span *ngSwitchDefault>Tasteless</span>
    </div>
    <!-- <div *ngif="foodItem ? foodItem.taste: ''" class="taste">{{ foodItem ? foodItem.taste : "" }}</div> -->
    <div class="title" [style.type]='specialtype'>{{ tvshow.name }}</div>
    <div class="tags">
        <span appHoverAffect type="thriller" class="tag" *ngFor="let tag of tvshow.tags"> {{ tag }}</span>
    </div>
    <!-- <span [innerHTML]="returnhtml()"></span> -->
</div>
