
<h3 class="title">
    {{ tvshow?.title }}
</h3>
<img (click)="imageClicked()" *ngIf="tvshow?.imgURL" class="image" [src]="tvshow?.imgURL">
<p>
    {{ tvshow?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ tvshow?.creator}}
    </div>
    <div appHoverAffect elementType="type" *ngIf="tvshow?.type" class="tvshow?.type">
        {{ tvshow?.type }}
    </div>
    <div class="tags" *ngIf="tvshow?.tags">
        <span appHoverAffect elementType="tag" class="tag" *ngFor="let tag of tvshow?.tags">
            #{{ tag }}
        </span>
    </div>
</div>
