<mat-card *ngIf="tvshow">
    <mat-card-header>
      <mat-card-title>{{ tvshow?.title }} - {{ tvshow?.creator }}</mat-card-title>
      <mat-card-subtitle appHoverAffect elementType="type" *ngIf="tvshow?.type" class="tvshow?.type">
        {{ tvshow?.type }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image (click)="imageClicked()" *ngIf="tvshow?.imgURL" class="image" [src]="tvshow?.imgURL">
    <img mat-card-image (click)="imageClicked()" *ngIf="!tvshow?.imgURL" class="image"
      src="https://cdn.freebiesupply.com/images/thumbs/2x/imdb-logo.png"> 
    <mat-card-content>
      <p>
        {{ movie?.description }}
      </p>
      <mat-chip-list aria-label="Tags of the content" *ngIf="tvshow?.tags">
        <mat-chip appHoverAffect elementType="tag" *ngFor="let tag of tvshow?.tags">
          #{{ tag }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <app-modify-content-component [newContent]="tvshow"></app-modify-content-component>
    </mat-card-actions>
  </mat-card>

  <a [routerLink]="['/content'
,content.id]"
routerLinkActive="active">
Content Details
</a>

<!-- <h3 class="title">
    {{ tvshow?.title }}
</h3>
<img (click)="imageClicked()" *ngIf="tvshow?.imgURL" class="image" [src]="tvshow?.imgURL">
<p>
    {{ tvshow?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ tvshow?.creator}}
    </div>
    <div appHoverAffect elementType="type" *ngIf="tvshow?.type" class="tvshow?.type">
        {{ tvshow?.type }}
    </div>
    <div class="tags" *ngIf="tvshow?.tags">
        <span appHoverAffect elementType="tag" class="tag" *ngFor="let tag of tvshow?.tags">
            #{{ tag }}
        </span>
    </div>
</div> -->
