<p>content-list works!</p>
<div class="Card">
    <header class="header">
        <h3>{{item.title}}</h3>
    </header>
    <div class="box">
        <img(click)="OnImageClick()" [src]="item.imgURL"/>
        <p*ngfl="item.description">{{ item class="description"}}></p>
        <p>
            {{item.type}}
        </p>
        <p>
            {{item.creator}}
        </p>

        <div class="tags">
            <span*ngFor="let tag of item.tags>{{tag}]"</span>
        </div>
    </div>
</div>
<div class="search">
    <input #search>
    <button (click)="checkForTitle(search.value)">Check For Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
  <!--  <div [class.success]="searchFlag" [class.fail]="!searchFlag"> {{ searchMessage }} </div>-->
  </div>
  
  <app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstTvshowOnList || isLast"
      *ngFor="let item of (myList | contentTypeFilter); first as isFirstTvshowList; last as isLast" [class.first-Tvshow]="isFirstTvshowOnList
      [Tvshow]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstTvshowOnList || isLast"
        *ngFor="let item of (myList | contentTypeFilter: 'drama'); first as isFirstTvshowOnList; last as isLast" [class.first-Tvshow]="isFirstTvshowOnList"
        [Tvshow]="item" class="drama" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstTvshowOnList || isLast"
        *ngFor="let item of (myList | contentTypeFilter: 'Action'); first as isFirstTvshowOnList ; last as isLast"[class.first-Tvshow]="isFirstTvshowOnList"
         [Tvshow]="item" class="Action" [class.found]="item.title == search.value"></app-content-card>
  
  <!--<app-content-card *ngFor="let item of (myList | contentTypeFilter: 'cartoon'); first as isFirstTvshowOnList" [class.first-Tvshow]="isFirstTvshowOnList"
                    [Tvshow]="item" class="Romantic" [class.found]="item.title == search.value"></app-content-card>-->
