<p>content-list works!</p>
<div class="Card">
    <header class="header">
        <h3>{{item.title}}</h3>
    </header>
    <div class="box">
        <img(click)="OnImageClick()" [src]="item.imgURL"/>
        <p*ngfl="item.description">{{ item class="description"}}></p>
        <p>
            {{item.type}}
        </p>
        <p>
            {{item.creator}}
        </p>

        <div class="tags">
            <span*ngFor="let tag of item.tags>{{tag}]"</span>
        </div>
    </div>
</div>
<div class="search">
    <input #search>
    <button (click)="checkForTitle(search.value)">Check For Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
  <!--  <div [class.success]="searchFlag" [class.fail]="!searchFlag"> {{ searchMessage }} </div>-->
  </div>
  
  <app-content-card *ngFor="let item of (movieList | contentTypeFilter); first as isFirstMovieOnList" [class.first-movie]="isFirstMovieOnList"
      [movie]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card *ngFor="let item of (movieList | contentTypeFilter: 'drama'); first as isFirstMovieOnList" [class.first-movie]="isFirstMovieOnList"
                    [movie]="item" class="drama" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card *ngFor="let item of (movieList | contentTypeFilter: 'sci-fi'); first as isFirstMovieOnList" [class.first-movie]="isFirstMovieOnList"
                    [movie]="item" class="sci-fi" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card *ngFor="let item of (movieList | contentTypeFilter: 'cartoon'); first as isFirstMovieOnList" [class.first-movie]="isFirstMovieOnList"
                    [movie]="item" class="cartoon" [class.found]="item.title == search.value"></app-content-card>
