<app-modify-content-component (newContentEvent)="addContentToList($event)"></app-modify-content-component>
<div class="search">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
  </mat-form-field>
    <input #search>
    <button mat-flat-button color="primary" (click)="checkForTitle(search.value)">Check For Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
 
  </div>
  
  <app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstTvshowOnList || isLast"
      *ngFor="let item of (myList | contentTypeFilter); first as isFirstTvshowList; last as isLast" [class.first-Tvshow]="isFirstTvshowOnList
      [Tvshow]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstTvshowOnList || isLast"
        *ngFor="let item of (myList | contentTypeFilter: 'drama'); first as isFirstTvshowOnList; last as isLast" [class.first-Tvshow]="isFirstTvshowOnList"
        [Tvshow]="item" class="drama" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstTvshowOnList || isLast"
        *ngFor="let item of (myList | contentTypeFilter: 'Action'); first as isFirstTvshowOnList ; last as isLast"[class.first-Tvshow]="isFirstTvshowOnList"
         [Tvshow]="item" class="Action" [class.found]="item.title == search.value"></app-content-card>
  
  <!--<app-content-card *ngFor="let item of (myList | contentTypeFilter: 'cartoon'); first as isFirstTvshowOnList" [class.first-Tvshow]="isFirstTvshowOnList"
                    [Tvshow]="item" class="Romantic" [class.found]="item.title == search.value"></app-content-card>-->
